<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="StringSplitConfigDataSection" type="HandyCSVConverter.StringSplitConfigDataSection, HandyCSVConverter" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <StringSplitConfigDataSection>
    <CsvConfigCollection>
      <add name="Database Comma Seperated" delimiter="," enclose-char="'" max-items-per-line="-1"  />
      <add name="Comma Seperated" delimiter="," enclose-char="" max-items-per-line="-1"  />
      <add name="Database CSV- 1000" delimiter="," enclose-char="'" max-items-per-line="1000"  />
      <add name="Pipe To Tab" split-char="|" delimiter="\t" enclose-char="" max-items-per-line="-1" remove-blank-items="false"  />
    </CsvConfigCollection>
  </StringSplitConfigDataSection>
</configuration>